<div class="addMovie">
  <h4 class="addMovie__title"># Supprimer un menu</h4>
  <form class="addMovie__form">

    <input required type="text" name="Titre du film" placeholder="Titre du film">
    <input required type="text" name="Réalisateur du film" placeholder="Réalisateur du film">
    <input required type="number" name="Année de sortie" placeholder="Année de sortie">
    <input required type="number" name="Durée en minute" placeholder="Durée en minutes">
    <input required type="text" name="Description ou synopsis" placeholder="Description ou synopsis">
    <input required type="text" name="nom du fichier de l'affiche ou image du film" placeholder="nom du fichier de l'affiche ou image du film">
    <input required type="text" name="URL du trailer" placeholder="URL du trailer">
    <input required type="text" name="Titre du film" placeholder="Titre du film">
    <input required type="number" name="Restrictions d'âge" placeholder="Restrictions d'âge">
    <select name="Catégorie">
      <option value="action">Action</option>
      <option value="drame">Drame</option>
      <option value="comedie">Comédie</option>
      <option value="horreur">Horreur</option>
      <option value="aventure">Aventure</option>
      <option value="science-fiction">Science-fiction</option>
      <option value="animation">Animation</option>
    </select>
    <input onclick="{{handler}}" type="button" value="add" name="todo">

  </form>
</div>