<figure class="moviedetail">
  <figcaption>
    <h1 class="movie__title">{{name}}</h1>
    <h1 class="movie__year">{{year}}</h1>
    <h1 class="movie__category">{{category}}</h1>
    <h1 class="movie__description">{{description}}</h1>
    <h1 class="movie__director">{{director}}</h1>
    <h1 class="movie__min_age">{{min_age}}</h1>
    <h1 class="movie__trailer">{{trailer}}</h1>
  </figcaption>
  <img src="{{image}}" alt="affiche" class="movie__image" />
</figure>
<iframe
  class="movie__video"
  width="300"
  height="200"
  src="{{video}}">
</iframe>