.title {
  display: block;
  margin-block: 1rem;
  margin-left: 1rem;
  text-align: left;
  font-size: 1.5rem;
  color: var(--color-white);
}

.moviesup {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  background-color: transparent;
  font-family: var(--ff-sans);
  box-sizing: border-box;
}

.moviesup::-webkit-scrollbar {
  height: 0.5rem;
}

.moviesup::-webkit-scrollbar-track {
  background: transparent;
}

.moviesup::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 0.5rem;
}

.moviesup::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.moviesup {
  scrollbar-color: #999 transparent;
  scrollbar-width: thin;
}

.movieup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  width: 15rem;
  position: relative;
}

.movieup__img {
  display: block;
  flex-grow: 1;
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movieup__title {
  display: flex;
  padding-top: 0.5rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-shadow: none;
  background: transparent;
}

.movieup__year {
  display: flex;
  padding-top: 0.5rem;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 600;
  color: rgb(156, 156, 156);
  text-shadow: none;
  background: transparent;
}

.movieup__cardimg {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
}

.add-fav {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  transition: fill 0.3s ease;
}

.remove-fav {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  transition: fill 0.3s ease;
}

.movie__message {
  color: var(--color-white);
}

.movieup__favori {
  height: 1.5rem;
  color: var(--color-black);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}