.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.addMovie {
  display: block;
  width: 21.875rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  font-family: var(--ff-sans);
  color: var(--color-white);
  background: #1E1E1E;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.addMovie__title {
  display: block;
  padding: 0.625rem;
  margin: -1.25rem -1.25rem 1.25rem -1.25rem;
  text-align: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-white);
}

.addMovie__form {
  display: flex;
  flex-direction: column;
}

.addMovie__form input,
.addMovie__form select,
.addMovie__form textarea {
  display: block;

  margin-bottom: 0.625rem;
  padding: 0.5rem;
  border: 0.0625rem solid #444;
  border-radius: 0.25rem;

  font-size: 0.875rem;
  color: var(--color-white);

  background-color: #2b2b2b;
}

.addMovie__form input[type="button"] {
  display: block;
  cursor: pointer;

  padding: 0.625rem;
  border: none;
  border-radius: 0.25rem;

  font-size: 1rem;
  font-weight: bold;
  color: var(--color-black);

  background: var(--color-white);
  transition: background-color 0.3s ease;
}

.addMovie__form input[type="button"]:hover {
  background: #cccccc;
}