.movies {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; /* réduit l'espacement entre les films */
  padding: 0.25rem; /* réduit les marges internes */
  justify-items: center;
  background-color: var(--color-white);
  font-family: var(--ff-sans);
}

.movie {
  position: relative;
  width: 100%;
  max-width: none; /* évite les contraintes de largeur */
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.movie__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie_title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.6);
  padding: 0.5rem 1rem;
  margin: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(44, 44, 44, 0));
  box-sizing: border-box;
  height: 25%;
  display: flex;
  align-items: flex-end;
}

/* Responsive grid layout */

@media (min-width: 600px) {
  .movies {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .movies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .movies {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .movies {
    grid-template-columns: repeat(5, 1fr);
  }
}